.title__blog {
    margin-top: 60px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

.list__blog {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
}

.list__blog-two {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    gap: 20px;
}

.list__items {
    display: flex;
    flex-direction: column;
    width: 380px;
    font-family: 'Montserrat';
}

.data__style {
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    mix-blend-mode: normal;
}

.head__style {
    /* margin-top: 7px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #1E0606;
}

.text__style {
    margin-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}

.list__link {
    display: flex;
    gap: 457px;
    margin-top: 48px;
    margin-bottom: 59px;
}

.list__pagination {
    display: flex;
    gap: 64px;
}

.link__pagination {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #C29974;
}

.link__pagination-no {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
}

.btn_pagination-one {
    margin-top: -5px;
    background-color: none;
    background-image: url('../img/icon/paginationone.svg');
    padding: 16px 10px;
    background-repeat: no-repeat;
    
}

.btn_pagination-two {
    margin-top: -5px;
    background-image: url('../img/icon/paginationtwo.svg');
    padding: 16px 10px;
    background-repeat: no-repeat;
    background-color: none;
}